NEXT_PUBLIC_SUPABASE_URL=https://pgjxfywsbzxvrfjjlhws.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnanhmeXdzYnp4dnJmampsaHdzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwMDIwMjQsImV4cCI6MjEwNDU3ODAyNH0.cTUkDIdxDm-JbeOKW8X9TtQEfnPanDPLBawthST1MWs
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
